In [5]:
#question
l5=[3,4,5,6,7, [23,456,67,8,78,78], [345,56,87,8,98,9], (234,6657,6), {"key1":"sudh", 234:[23,45,656]}]
l5

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [63]:
#1. try to reverse a list
l.reverse()
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [121]:
#2. try to access 234 out of this list

l3.pop([6][0])
l3

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [127]:
#3.try to access 456
l3.pop([5][0])
l3

[3, 4, 5, 6, 7, (234, 6657, 6), {'key1': 'sudh', 234: [23, 45, 656]}]

In [6]:
# 4. try to extract only  a list collection from l
l5[5]

[23, 456, 67, 8, 78, 78]

In [8]:
l5[6]

[345, 56, 87, 8, 98, 9]

In [145]:
# 5. try to extract "sudh"
d = l4
d

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [160]:
d1 = {"key1":"sudh", 234:[23,45,656]}
d1["key1"]

'sudh'

In [10]:
#6. try to list all the key in dict element avilable in the list
d=l5
d

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [12]:
# 7. try to extrct all the value element from dict avaible in the list 
d1 = {"key1":"sudh",234:[23,45,656]}
d1["key1"]

'sudh'

In [13]:
d1[234]

[23, 45, 656]